/* Container for the game over screen */
.gameOverContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(40, 38, 23, 0.95);
  animation: pop-in 0.5s cubic-bezier(0.68, -0.55, 0.65, 0.52) forwards;

  /* Heading for the game over message */
  .heading {
    font-family: 'Caprasimo', cursive;
    font-size: 4rem;
    text-align: center;
    color: #fcd256;
    margin: 0;
    animation: fade-in 1s ease-in-out forwards;

    /* Media query for smaller screens */
    @media (max-width: 450px) {
      font-size: 2.5rem;
    }
  }

  /* Sub-heading for the game over message */
  .subHeading {
    font-size: 2rem;
    text-align: center;
    color: #e1dec7;
    animation: fade-in 1.5s ease-in-out forwards;

    /* Media query for smaller screens */
    @media (max-width: 450px) {
      font-size: 1.5rem;
    }
  }

  /* Button for rematch */
  .rematchButton {
    display: block;
    margin: 0 auto;
    font-size: 1.5rem;
    background: none;
    border: 2px solid #fcd256;
    color: #fcd256;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition:
      all 0.2s,
      color 0.2s;
    box-shadow: 0 0 8px rgba(255, 187, 0, 0.4);
    animation: bounce-in 0.5s ease-in-out forwards;

    /* Media query for smaller screens */
    @media (max-width: 450px) {
      font-size: 1rem;
    }

    /* Apply different styles on hover */
    &:hover {
      background: #fcd256;
      color: #3f3b00;
      transform: scale(1.1);
      box-shadow: 0 0 20px rgba(255, 187, 0, 0.8);

      /* Media query for smaller screens */
      @media (max-width: 450px) {
        transform: scale(1);
      }
    }
  }
}

/**
 * Define the animation for showing the "Game Over" element.
 */
@keyframes pop-in {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  80% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

/**
 * Define the fade-in animation.
 */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/**
 * Define the bounce-in animation for the rematch button.
 */
@keyframes bounce-in {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  50% {
    transform: translateY(10px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}
