/* ScoreBoard.module.css */
.scoreboardContainer {
  background: linear-gradient(#383624, #282617);
  border: 1px solid #333;
  border-radius: 8px;
  padding: 20px 0 40px 0;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 45rem;
  margin: 3rem auto;
}

.scoreboard {
  display: flex;
  justify-content: space-around;
}

.playerScore {
  background-color: #f6e35a;
  border: 1px solid #f6e35a;
  border-radius: 8px;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.playerName {
  font-size: 1.2rem;
  font-weight: 500;
  color: #333;
}

.score {
  font-size: 2rem;
  font-weight: 1000;
  color: #333;
}

@media (max-width: 768px) {
  .scoreboardContainer {
    padding: 5px 0 10px 0;
    margin: 0.5em auto 0 auto;

    h2 {
      font-size: 1.2em;
      margin: 5px auto;
    }
  }

  .playerScore {
    margin-bottom: 10px;
  }

  .playerName {
    font-size: 0.8rem;
  }

  .score {
    font-size: 1.2rem;
  }
}
