/* ScoreBoard.module.css */
.scoreboardContainer {
  background: linear-gradient(#383624, #282617);
  border: 1px solid #333;
  border-radius: 8px;
  padding: 10px 0 20px 0;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 30rem;
  margin: 1rem auto;

  h2 {
    margin: 5px auto;
  }

  @media (max-width: 450px) {
    padding: 5px 0 10px 0;

    h2 {
      font-size: 1rem;
      margin: 5px auto;
    }
  }
}

.scoreboard {
  display: flex;
  justify-content: space-around;
}

.playerScore {
  background-color: #f6e35a;
  border: 1px solid #f6e35a;
  border-radius: 8px;
  padding: 5px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  @media (max-width: 450px) {
    margin-bottom: 10px;
  }
}

.playerName {
  font-size: 1rem;
  font-weight: 500;
  color: #333;

  @media (max-width: 450px) {
    font-size: 0.8rem;
  }
}

.score {
  font-size: 1.5rem;
  font-weight: 1000;
  color: #333;

  @media (max-width: 450px) {
    font-size: 1rem;
  }
}
