/**
 * Import Google Fonts for the game's typography.
 */
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Roboto+Slab:wght@400;700&display=swap');

/**
 * Reset the default styles of all HTML elements.
 */
* {
  box-sizing: border-box;
}

/**
 * Define the base styles for the HTML element.
 */
html {
  font-family: 'Roboto Slab', sans-serif;
  line-height: 1.5;
  color: #ebe7ef;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/**
 * Define the base styles for the body element.
 */
body {
  background: radial-gradient(
    circle at top,
    rgba(241, 210, 70, 0.98),
    rgba(250, 176, 103, 0.87)
  );
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size:
    100% 100%,
    30% 30%,
    100% 100%;
}



/**
 * Define the styles for the game container.
 */
.gameContainer {
  max-width: 30rem;
  margin: 0 auto;
  padding: 3rem;
  border-radius: 6px;
  background: linear-gradient(#383624, #282617);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  position: relative;

  /**
   * Adjust the font size for smaller screens.
   */
  @media (max-width: 300px) {
    padding: 1rem;
  }
}

/**
 * Remove the default list styles.
 */
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
